<div class="container">
  <h1>Stupid coaching</h1>
  <form action="/answer" data-turbo="false" class="row g-3">
    <div class="col-auto">
      <input type="text" name="question" class="form-control">
    </div>
    <div class="col-auto">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>
